node_modules
.env
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor
tests
bootstrap/cache/*.php
*.sqlite
*.sqlite-journal
.DS_Store
docker
*.md
.phpunit.cache
.idea
.vscode