.git
.gitignore
.env
.env.*
node_modules
vendor
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
docker-compose.yml
Dockerfile
.dockerignore
README.md
.gitlab-ci.yml
.github
.phpunit.cache
*.md
.DS_Store